/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: white ;
    -fx-background-color: white;
    
    
}

.date-picker .text-field{
    	-fx-control-inner-background: white ;
    	-fx-font-family: System;
		
    	
    }
    
 .calendar-header {
-fx-background-color: #1d1d1d;
-fx-base: #1d1d1d;
-fx-text-fill: white;
}

.jfx-date-picker.input-line{
	-fx-background-color: white;
	
}

.table-view .table-column{
    -fx-font-weight:bold;
    -fx-font-size:15px; 
    -fx-font-family: System;          

}

.table-view {
	-fx-font-family: System;
}